#airPollutionSituation, #WeatherRegion{
    border-radius: 10rem;
    padding: 1rem;
    font-size: .8rem;
}

#airPollutionSituation:hover, #WeatherRegion:hover{
    cursor: pointer;
}

.warning-button:hover{
    cursor: pointer;
}

.desactivate-power-button{
    color: red;
}

.activate-power-button{
    color: green;
}

.activate-power-button:hover, .desactivate-power-button:hover{
    cursor: pointer;
}
