#airPollutionSituation, #WeatherRegion{
    border-radius: 10rem;
    padding: 1rem;
    font-size: .8rem;
}

#airPollutionSituation:hover, #WeatherRegion:hover{
    cursor: pointer;
}

.warning-button:hover{
    cursor: pointer;
}

/* colors */
.bg-orange {
    background-color: rgb(255, 145, 0);
}

.bg-purple {
    background-color: rgb(148, 0, 161);
}
/* # colors */

.desactivate-power-button{
    color: red;
}

.activate-power-button{
    color: green;
}

.activate-power-button:hover, .desactivate-power-button:hover{
    cursor: pointer;
}
